<div class="container">
  <div class="header" style="background-image: url('Fountain Vector.svg');">
    <div class="row">
      <div class="col">
        <h2 class="title">
          Welcome to the hunger <br />
          cured future!
        </h2>
        <!-- <a href="https://www.vecteezy.com/free-vector/park">Park Vectors by Vecteezy</a> -->
        <button class="btn btn-success">Donate!</button>
      </div>
    </div>
  </div>
  <div class="about-us">
    <h2>About us</h2>
  </div>
</div>
