<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="row justify-content-center">
      <div class="masthead-subheading">Welcome To Our Space!</div>
    </div>
    <div class="row justify-content-center">
      <div class="masthead-subheading2">Where we</div>
    </div>
    <div class="masthead-heading text-uppercase">
      make our world a better place
    </div>
    <a
      class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
      href="#services"
      >Tell Me More</a
    >
  </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">What we do</h2>
      <h3 class="section-subheading text-muted">With so much love and care.</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Free service</h4>
        <p class="text-muted">
          We grow trees with fruits available for the public by receiving
          funding from the government, your donations and having community
          workers.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Constant updates and news</h4>
        <p class="text-muted">
          Here we keep you up to date on where nearest tree plant located and
          when there might be one in your area!
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Healthy trees</h4>
        <p class="text-muted">
          We keep the trees watered and soiled with neutrinos regularly to
          insure healthy fruits for the public.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">How can YOU help</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid help-img" src="/assets/3709085.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Know what we do</div>
            <div class="portfolio-caption-subheading text-muted">
              Check out more detail about us as time goes on by visiting the
              website often for updates.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <img class="img-fluid help-img" src="/assets/3726770.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Help us help you</div>
            <div class="portfolio-caption-subheading text-muted">
              By donating and sharing our website to your friends its helps
              shreds awareness and boost the cause!
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid help-img" src="/assets/5240.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Contribute</div>
            <div class="portfolio-caption-subheading text-muted">
              Visit our donation section and support your community!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">More about us</h2>
      <h3 class="section-subheading text-muted"></h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid p-4"
            src="/assets/018-seeds.png"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2009-2011</h4>
            <h4 class="subheading">Our Humble Beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Since after world war 2 there has been a big increase in
              homelessness and that the homeless can’t afford Fruits. Me and my
              team decided we want to change this and we planted a seed in our
              brain. We wanted to make fruits available for the people in need
              for free, but how?
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid p-4"
            src="/assets/016-sow.png"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2011</h4>
            <h4 class="subheading">An Agency is Born</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We started by thinking where we want to do it and how we wanted to
              do it. By receiving funding by the government and the public and
              creating self-obtained environment for the trees we decided that
              our idea can work, that was the easy part.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid p-4"
            src="/assets/006-tuber.png"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>December 2012</h4>
            <h4 class="subheading">Trial and error.</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We started building software like the website and building
              hardware like how the pipe system and automatic watering will
              work. After a lot of prototypes, we had a final prototype ready!
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid p-4"
            src="/assets/047-growth.png"
            alt=""
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>July 2014</h4>
            <h4 class="subheading">Turning our idea into a reality!</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We launched our website and implemented our final design in
              reality by planting our first trees in our testing grounds!
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid p-4"
            src="/assets/046-tree.png"
            alt=""
          />
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted"></h3>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="/assets/Team/Reece.png"
            alt=""
          />
          <h4>Reece Cassell</h4>
          <p class="text-muted">Project Manager</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="/assets/Team/0.jpg" alt="" />
          <h4>Vernon van der Merwe</h4>
          <p class="text-muted">Head Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Clients-->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid d-block mx-auto"
            src="assets/img/logos/envato.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid d-block mx-auto"
            src="assets/img/logos/designmodo.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid d-block mx-auto"
            src="assets/img/logos/themeforest.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid d-block mx-auto"
            src="assets/img/logos/creative-market.jpg"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <form id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="Your Name *"
              required="required"
              data-validation-required-message="Please enter your name."
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Your Email *"
              required="required"
              data-validation-required-message="Please enter your email address."
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group mb-md-0">
            <input
              class="form-control"
              id="phone"
              type="tel"
              placeholder="Your Phone *"
              required="required"
              data-validation-required-message="Please enter your phone number."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <textarea
              class="form-control"
              id="message"
              placeholder="Your Message *"
              required="required"
              data-validation-required-message="Please enter a message."
            ></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <button
          class="btn btn-primary btn-xl text-uppercase"
          id="sendMessageButton"
          type="submit"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>
