<div class="container">
  <div class="row justify-content-center pt-5 pb-3">
    <h1>Welcome to the Tree app.</h1>
  </div>
  <div class="row justify-content-center">
    <h1>🌳</h1>
  </div>
  <div class="row pt-5 pb-3 justify-content-center">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h2>Admin dashoard</h2>
        </div>
        <div class="btn-container mt-3">
          <p class="btn btn-warning">In Development</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h2>client landing</h2>
        </div>
        <div class="btn-container mt-3">
          <p class="btn btn-success" routerLink="home">Live!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h2>What we are building?</h2>
        </div>
        <p class="desc p-5">
          We are building an app that will manage trees that are planted around
          the country. Our solution will provide the user with a system that
          will be able to view tree locations on an interactive map, manage
          staff, manage trees and their state, and then provide the non profit
          org a way to spread their cause online.
        </p>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <div class="card p-3 text-center">
        <div class="card-header">
          <h2 >Our notion page(invite required)</h2>
        </div>
        <a href="https://www.notion.so/Home-9bd67a4978124de5b9f5e588d9bd4a00"
          ><h3 class="p-2">Home</h3></a
        >
      </div>
    </div>
  </div>
</div>
