<div class="container main">
  <div class="row justify-content-center pt-5 pb-3">
    <h1>Welcome to the Tree app.</h1>
  </div>
  <div class="row justify-content-center">
    <h1>🌳</h1>
  </div>
  <div class="row pb-3 justify-content-center">
    <div class="col-md-6 pt-3">
      <div class="card text-center pb-3">
        <div class="card-header pt-4">
          <h2>Admin dashoard</h2>
        </div>
        <div class="btn-container mt-3">
          <a class="btn btn-success" routerLink="admin"
            >In development and live 😄</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <div class="card text-center pb-3">
        <div class="card-header pt-4">
          <h2>Client landing page</h2>
        </div>
        <div class="btn-container mt-3">
          <a class="btn btn-success" routerLink="welcome">Live! 😁</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-header pt-4">
          <h2>What is the project goal?</h2>
        </div>
        <p class="desc p-5">
          We are building an app that will manage trees that are planted around
          the country. Our solution will provide the user with a system that
          will be able to view tree locations on an interactive map, manage
          staff, manage trees and their state, and then provide the non profit
          org a way to spread their cause online.
        </p>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-header pt-4">
          <h2>How will we acomplish this goal?</h2>
        </div>
        <div class="row justify-content-center pt-5">
          <img
            src="assets/icons/Angular_full_color_logo.svg.png"
            alt=""
            style="width: 100px; height: 100px;"
          />
          <img
            src="assets/icons/touchicon-180.png"
            alt=""
            style="width: 100px; height: 100px;"
          />
        </div>
        <p class="desc pl-5 pr-5 pt-5">
          My Team and I have decided to use Angular and Firebase for our
          project. The decision was easy since firebase offers amazing hosting
          and services, like a integrated Database solution, all for free.
        </p>
        <div class="row justify-content-center">
          <img
            src="assets/icons/cloud-firestor.png"
            alt=""
            style="width: 300px; height: 100px;"
          />
        </div>
        <p class="desc pl-5 pr-5 pt-3">
          Cloud firestore (firebase's database solution) Was probably the
          biggest factor to why we chose firebase over our initial solution
          Heroku. Heroku is an amazing PaaS but everything they offered their
          users was cut back to ensure users buy the entry level packadge. This
          is not the case with firebase, whick gives you almost everythiing they
          could possibly offer. This is becuase google knows the real money lies
          in bigger companys, so they want to lower the entry barrier with
          firebase's entry level plan to then build an ecosystem and charge you
          when your company exceeds a certain threshhold.
        </p>
        <div class="row justify-content-center">
          <img
            src="assets/icons/firebase-hosting2.png"
            alt=""
            style="width: 280px; height: 100px; object-fit: cover;"
          />
        </div>
        <p class="desc pl-5 pr-5 pt-3">
          Firebase Hosting (firebase's hosting solution) was the second biggest
          factor to why we chose firebase over our initial solution Heroku.
          Heroku offered hosting, but put your app offline as soon as it was
          inactive for 15 min. Firebase offerers not only full hosting, but also
          access to https and their CDN caching servers worldwide.
        </p>
        <div class="row justify-content-center">
          <img
            src="assets/icons/Angular_full_color_logo.svg.png"
            alt=""
            style="width: 100px; height: 100px; object-fit: cover;"
          />
        </div>
        <p class="desc pl-5 pr-5 pt-3">
          Angular was ranked the second most used technology after Node.js in
          the 2018 Stack Overflow survey. The reasons for such a high rank are
          clear: this frontend tool is equipped with robust components to help
          developers write readable, maintainable, and easy-to-use code. And
          since its owned by google it has AMAZING integration with firebase.
          <br />
          And thats probably the biggest factor that made the choice for us
        </p>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-header pt-4">
          <h2>Our Notion page (invite required)</h2>
        </div>
        <div class="card-body">
          <a href="https://www.notion.so/Home-9bd67a4978124de5b9f5e588d9bd4a00"
            ><h3 class="p-2">Home</h3></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
