.container {
  margin-top: 150px;
}
.background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-image: url("/assets/sim-tree.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  filter: blur(5px);
}
.blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(4, 151, 151, 0.548);
}
