<div class="container">
  <div class="row pb-5 pt-5">
    <div class="col">
      <h1>Tree management</h1>
    </div>
  </div>
  <div class="row pb-3">
    <button class="ml-auto btn btn-info mr-3">ADD NEW</button>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Tree's</h2>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          <div class="row heading">
            <div class="col"><h5>Tree</h5></div>
            <div class="col"><h5>Status</h5></div>
            <div class="col"><h5>Location</h5></div>
            <div class="col"><h5></h5></div>
          </div>
          <div class="row item">
            <div class="col pt-3 pb-2"><h5>Calvin</h5></div>
            <div class="col pt-3 pb-2"><h5>Healthy</h5></div>
            <div class="col pt-3 pb-2"><h5>762 30th Ave</h5></div>
            <div class="col pt-3 pb-2">
              <button class="btn btn-success mr-2">✏</button>
              <button class="btn btn-warning mr-2">❌</button>
            </div>
          </div>
          <div class="row item">
            <div class="col pt-3 pb-2"><h5>Calvin</h5></div>
            <div class="col pt-3 pb-2"><h5>Healthy</h5></div>
            <div class="col pt-3 pb-2"><h5>762 30th Ave</h5></div>
            <div class="col pt-3 pb-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
