<div class="container">
  <div class="row pb-5 pt-5">
    <div class="col">
      <h1>Tree management</h1>
    </div>
  </div>
  <div class="row pb-3">
    <button class="ml-auto btn btn-info mr-3" routerLink="create">
      ADD NEW
    </button>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Tree's</h2>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          <div class="row heading">
            <div class="col"><h5>Tree</h5></div>
            <div class="col"><h5>Status</h5></div>
            <div class="col"><h5>Location</h5></div>
            <div class="col"><h5></h5></div>
          </div>
          <div class="row item" *ngFor="let tree of treesList">
            <div class="col pt-3 pb-2">
              <h5>{{ tree.title }}</h5>
            </div>
            <div class="col pt-3 pb-2">
              <h5>{{ tree.status }}</h5>
            </div>
            <div class="col pt-3 pb-2">
              <h5>{{ tree.location }}</h5>
            </div>
            <div class="col pt-3 pb-2">
              <button class="btn btn-success mr-2" routerLink="{{ tree.id }}">
                ✏
              </button>
              <button
                class="btn btn-warning mr-2"
                (click)="deleteTree(tree.id)"
              >
                ❌
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
